#cardapio{
    background-color: white;

    h2{
        font-size: var(--fs-lg);
        font-weight: var(--fw-bolder);
        color: var(--color-primary);
    }
    

}

#gallery{

    div{
        transition-property: transform;
        transition-duration: .2s;
       background-color: var(--bg1-color);
       overflow: hidden;
       width: 20rem;
       height: 21.875rem;
       border: 1px solid var( --border-color);
       border-radius: .875rem;

       h3{
        font-size: var(--fs-base);
        font-weight: var(--fw-bolder);
        color: black;
       }

       p{
        font-size: var(--fs-sm);
        font-weight: var(--fw-sm);
       }

       img{
        object-fit: cover;
        width: 20.5rem;
        height: 11rem;
       }
    }

    div:hover{
        transform: translateY(-10px);
        box-shadow: 0 0 2rem rgba(255, 20, 147, 0.4);
    }
}
