#cardapio{
    background-color: white;

    h2{
        text-align: center;
        font-size: var(--fs-lg);
        font-weight: var(--fw-bolder);
        color: var(--color-primary);
    }
    

}

#gallery{
    justify-items: center;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;

    div{
 
       overflow: hidden;
       width: 20rem;
       height: 21.875rem;
       border: 1px solid var( --border-color);
       border-radius: .875rem;

       h3{
        font-size: var(--fs-base);
        font-weight: var(--fw-bolder);
        color: black;
       }

       p{
        font-size: var(--fs-sm);
        font-weight: var(--fw-sm);
       }

       img{
        object-fit: cover;
        width: 20.5rem;
        height: 11rem;
       }
    }
}

@media (min-width: 80rem){
    #gallery{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {
    #gallery{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }


}