.py-sm{
    padding: var(--py-sm);
}

.px-base{
    padding-inline: 1rem;
}

.text-aling{
    text-align: center;
}

.px-lg{
    padding-inline: 2rem;
}

.px-sm{
    padding: var(--px-sm);
}

.py-base{
    padding-block: .5rem;
}

.grid{
    display: grid;
}



.container{
    display: flex;
    align-items: center;
    gap: .5rem;
    --max-width: 375px;
    width: min(var(--max-width), 100% - var(--px-sm) * 2);
    margin-inline: auto;
}

@media (width >= 80rem ) {
    .container {
        --max-width: 80rem;
    }
}

@media (width: 64rem){
    .container{
        --max-width: 64rem;
    }
}